################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/config
/api/node_modules
/.vs
